body {

}

.leftImgs{
	width:100%;
	height:100%;
	margin-left: 15%;
	margin-top:10%;

}

.leftImg2{
	margin-left:27%;
	width:90%;
	heigh:90%;
}
.rightImg{
	width:85%;
	heigh:85%
	margin-right:15%;
	margin-top:5%;
}

.rightTxt{
	font-size:30px;
	margin-right:10%;
}

.buysideBullets{
	font-size:25px;
	color:#999999;
}

.howItWorks{
	margin-top: 5%;
	margin-left: 5%;
}
.pt2Font{
	font-size:50px;
}

.pt2Font2{
	font-size:30px;
	color: #999999;
}
#main{
	background-image: url('photo-1458668383970-8ddd3927deed.jpeg');
	background-size: 100%; auto;
}

#pt2{
	background-color: white;
}

#pt3{
	background-color: #e6e6e6;
}

#pt4{
	background-color:#30337e;
}
#logo {
	width: 100%;
	height: 100%;
	margin-top: 15%;
	margin-left: 30%;
	float: left;
}

#relations{
	width:90%;
	height:90%;
	margin-top:-10%;
}
.navbar.navbar-default {
	float: left;
	font-size: 20px;
    background: transparent;
    border-color: transparent;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 2%;
}

.bottom {
	margin-top: 30%;
	margin-left: 5%;
}

.bottom2{
	margin-left:5%;
	margin-top:5%;
}

.firstline {
	font-size: 40px;
	color: #282b79;
}

.secondline {
	font-size: 25px;
	color: #282b79;
}

.leftTxt{
	font-size:30px;
	margin-left:23%;
	margin-right:-15%;
	text-align:right;
}

#rightTxt2{
	margin-top:10%;
	margin-right:17%;
}

.pt4words{
	text-align:center;
	color: white;
	font-size:45px;
}

#team{
	text-align:center;
	font-size:72px;
	color:white;
}

#pt6{
	background-image:url(photo-1463392898715-3939d4ab1019.jpeg);
	background-size:100%,100%
}

#pt8{
	background-color:#5a64ae;
}